<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Semestre i</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
    <style>

    

    </style>

  </head>
  	<body>
        <div id="lugardetrabajo" class="container-fluid">
          {{ nombre}}
          <div id="abrema">
            No se si abre mañana

          </div>
          <div class="col-4">
          <form class="row g-3">
            
              
                        <label>User Input</label>
                        <input type="text" v-model="libros[0].autor">
                        <br>
                        <h4>Agrega un libro</h4>
                        <input type="text" id="title" class="form-control"  placeholder="Titulo"><br>
                        <input type="text" id="author" class="form-control" placeholder="Autor"><br>
                        <input type="text" id="oferta"  class="form-control" placeholder="Oferta (si/no)"><br>
                        <input type="text" id="editorial" class="form-control"  placeholder="Editorial"><br>
                        <input type="number" id="cantidad" class="form-control"  placeholder="Cantidad">
                      
              
            
             <button type="submit" class="btn btn-primary mb-3" v-on:click="metodo">
                Otro libro
             </button>
            </form>
          </div>
          <div class="col-2">
          <ul v-for="(object,i) in ordenarLibrosCantidad" class="list-group">
            <li class="list-group-item">
              <p v-bind:style="styleObject" v-if="object.oferta == 'si'" >
                
                Titiulo: 
                {{object.titulo}}<br>
                Autor: 
                {{object.autor}}<br>
                Editorial: 
                {{object.editorial}}<br>
                cantidad: 
                {{object.cantidad}}<br>
                <button class="ui button" v-on:click="borrar(i)">
                  borrar
               </button>
               <button class="ui button" v-on:click="editar(i)">
                editar
             </button>
              </p>
              <p v-else>
                Titiulo: 
                {{object.titulo}}<br>
                Autor: 
                {{object.autor}}<br>
                Editorial: 
                {{object.editorial}}<br>
                cantidad: 
                {{object.cantidad}}<br>
                <button class="ui button" v-on:click="borrar(i)">
                  borrar
               </button>
               <button class="ui button" v-on:click="editar(i)">
                editar
             </button>
              </p>
            </li>
          </ul>
        </div>

          <div class="col-3"> 
            <h4> Peliculas: </h4>
            <ul v-for="object in peliculas" class="list-group">
              <li  class="list-group-item">
 
                <div class="card">
                  <div class="card-body">
                    Titiulo: 
                  {{object.Titulo}}<br>
                  Director: 
                  {{object.Director}}<br>
                  Año: 
                  {{object.Fecha}}<br>
                  </div>
                </div>

            </li>

            </ul>
            
          </div>
          
        
        </div>
        

        <div id="espacio">
           espacio
        </div>
        


		  <script type="text/javascript">

          //Una instancia de Vue que manejará esa área del documento #lugardetrabajo
          c= new Vue({
            el: "#lugardetrabajo",
            methods:{
              

            metodo: function(){
              
              var inName= document.getElementById("title").value;
              var inAuth= document.getElementById("author").value;
              var inOff= document.getElementById("oferta").value;
              var inEdit= document.getElementById("editorial").value;
              var inCant= document.getElementById("cantidad").value;
              this.libros.push({titulo:inName,autor:inAuth,oferta:inOff,editorial:inEdit,cantidad:inCant})
              document.getElementById("title").value="";
              document.getElementById("author").value="";
              document.getElementById("oferta").value="";
              document.getElementById("editorial").value="";
              document.getElementById("cantidad").value="";
            },
            borrar: function(i){
              this.libros.splice(i,1);

            },
            editar: function(i){
              val = this.libros[i]
              if(document.getElementById("title").value !="")
                val.titulo=document.getElementById("title").value;
              if(document.getElementById("author").value !="")
                val.autor=document.getElementById("author").value;
              if(document.getElementById("oferta").value !="")
                val.oferta=document.getElementById("oferta").value;
              if(document.getElementById("editorial").value !="")
                val.editorial=document.getElementById("editorial").value;
              if(document.getElementById("cantidad").value)
                val.cantidad=document.getElementById("cantidad").value;

              document.getElementById("title").value="";
              document.getElementById("author").value="";
              document.getElementById("oferta").value="";
              document.getElementById("editorial").value="";
              document.getElementById("cantidad").value="";
              
              
            }
          },
          computed:{
              ordenarLibros: function(){
                console.log("computed");
                this.libros=_.orderBy(this.libros, ['autor'])
               return this.libros
              },
              ordenarLibrosCantidad: function(){
                console.log("computed");
                this.libros=_.orderBy(this.libros, ['cantidad'])
               return this.libros
              }


          },
          watch:{
            nombre: function(d){
              console.log("nombre cambio a "+d);
            },
            abierto: function(d){
              if(d){
                document.body.style.backgroundColor = "white";
          

              }
              else{
                document.body.style.backgroundColor = "red";
              }
            },
            abreManana: function(d){
              if(d){
                document.getElementById("abrema").innerHTML="Abre mañana"
        
              }
              else{
                document.getElementById("abrema").innerHTML="No abre mañana"
              }
            }
          },
          
            data :{
              styleObject: {
            color:'rgb(240, 148, 28)'
              },
              nombre: "La elegante vagancia",
              abierto:true,
              abreManana:true,
              peliculas:[],
              libros:[{
                autor:"Ray Bradbury",
                titulo:"Fahrenheit 451",
                oferta:"no",
                editorial:"planeta",
                cantidad:10
              },
              {
                autor:"Arthur C. Clarke",
                titulo:"El fin de la infancia",
                oferta:"si",
                editorial:"penguin",
                cantidad:1

              },
              {
                autor:"Yuval Noah Harari",
                titulo:"Sapiens",
                oferta:"no",
                editorial:"debate",
                cantidad:6

              }
              ]
            },
            created(){
                console.log ("instancia creada");
                fetch("http://localhost:8080/getMovies")
                .then(response => response.json())
                .then(data => (this.peliculas=data,console.log(data)));
                //.then(console.log(data));
                //.then(data => (this.oferta = data.oferta));
            }
            
          });
          

		  </script>
	</body>
</html>